name: Build & Push Cloudshell Images

on:
  push:
    branches:
      - master

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Base image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: linux/base.Dockerfile
        push: true
        tags: ghcr.io/azure/cloudshell/base:${{ github.sha }},ghcr.io/azure/cloudshell/base:latest

    - name: Tools image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: linux/tools.Dockerfile
        push: true
        tags: ghcr.io/azure/cloudshell/tools:${{ github.sha }},ghcr.io/azure/cloudshell/tools:latest
        build-args: IMAGE_LOCATION=ghcr.io/azure/cloudshell/base:${{ github.sha }}
